
<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           {{ partial "bloc/footer/nav.html" . }}
        </div>
		{{  if eq .Site.Params.showRightSidebar  false  }} 
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			{{ partial "modules/site/link/social" .  }}
		</div>
		{{  end  }}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              {{ partial "bloc/footer/credits.html" . }}
        </div>
    </div>
  </div>
</footer>
